body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: #ff8200;
}

a {
  color: #cf7d25;
  text-decoration: none;
}


.btn-primary {
  background-color: #ff8200;
  border-color: #ffea83;
}

.btn-primary {
  background-color: #ff8200;
  border-color: #ff8200;
  color: #fff;
  border-radius: 12px;
  width: 119px;
}

.btn-primary:hover {
  background-color: #cf7d25;
  border-color: #ff8200;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 384px;
  flex-direction: column;
}


.form-control:focus {
  border-color: #cf7d25;
  outline-color: none;
  box-shadow: 1px 3px 5px #cf7d25;
}

.form-control {
  border-radius: 12px;
  outline: none;
  height: 45px;
  width: 231px;
}
.form-control::placeholder {
  color: #ff8200;
  outline: none;
}

.second-container {
  padding-top: 50px;
}

.accordion-body {
  display: flex;
  justify-content: space-around;
  max-width: 384px;
  color: white;
}

.accordion-body :first-child {
  color: #ff8200;
  font-weight: 600;

}

.credit{
  color: red;
  font-weight: 600;

}

.debit{
  color:green;
  font-weight: 600;


}
.accordion-body :last-child{
  color: #ff8200;
  font-weight: 600;

}

.accordion-header {
  width: 384px;
}

.accordion-item {
  color: black;
}

.accordion-item button {
  color: white;
  background-color: #ff8200;
  width: 384px;
}

.buttonInside{
  width: 75px;
  background-color: red;
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: #ff8200;
}

.accordion-button:not(.collapsed) .fas {
  color: #000; 
}

.button-box{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-box > button{
  width: 50%;
}


.collapsed {
  color: white;
  background-color: #ff8200;
}
.header{
  width: 100%;
  height: 8dvh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > img{
  width: 40px;
  height: 40px;
}

.header :first-child{
  width: 85px;
  height: 55px;
}

#toggleSaldoButton::after {
  display: none;
}

#toggleSaldoButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#saldoAtual {
  margin-right: 10px;
}

#eyeIcon {
  color: rgb(42, 41, 41);
}
