body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: #ff8200;
}

a {
  color: #cf7d25;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.btn-primary {
  background-color: #ff8200;
  border-color: #ffea83;
}

.btn-primary {
  background-color: #ff8200;
  border-color: #ff8200;
  color: #fff;
  border-radius: 12px;
  width: 119px;
}

.btn-primary:hover {
  background-color: #cf7d25;
  border-color: #ff8200;
}

.form-control:focus {
  border-color: #cf7d25;
  outline-color: none;
  box-shadow: 1px 3px 5px #cf7d25;
}

.form-control {
  border-radius: 12px;
  outline: none;
  height: 45px;
  width: 231px;
}
.form-control::placeholder {
  color: #ff8200;
  outline: none;
}

.second-container {
  padding-top: 50px;
}
